:root {
    /* FONT*/
    --font-dm-sans:"DM Sans", sans-serif;
    
    /* COLORS */
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    --bg-search: #242424;
    --color-search-input: #fff;
    --color-hd-login-subscribe: #a7a7a7;
    --color-hd-login-login: #000;
}